node_modules
.env
database.sqlite
build
public/uploads/artikel/*
public/uploads/guru/*
public/uploads/galeri/*
public/uploads/profil/*
public/uploads/ppdb/*
!public/uploads/artikel/.gitkeep
!public/uploads/guru/.gitkeep
!public/uploads/galeri/.gitkeep
!public/uploads/profil/.gitkeep
!public/uploads/ppdb/.gitkeep
